/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 56px; /* Espacio para el menú de navegación fijo */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Menú de navegación */
nav {
    margin-bottom: 20px;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px;
}

.navbar-nav .nav-link:hover {
    background-color: #495057;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
